.hide {
    display: none;
}
.basket{
    margin: 10px auto;
    width:50%;
    height: 20%;
    border: 3px #000000 solid;
    padding-top: 5px;
}



.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}